/* IMAGES --> */

#logo_img {
    width: 55%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;    
    /* margin: 0px auto 0px auto; */
    
}

#lessons_img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: .5;    
}

#drum_kit_img1 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: .5;
}

#drum_exams_img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    opacity: .5;
}

/* IMAGES <-- */

body {
    /* align-items: center; */
    width: 100%;
    /*background-color: #FDEDEC;*/
}

.page-container {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto 0px auto;
    
}

/* MENU BAR ---> */

#menubar_top {
    /*background-color: skyblue;*/
    width: 1000px;
    height: 50px;
    /* margin: 0px auto 20px auto; */
}

/* +++ Sprite not working +++ */

.socials {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: auto;
}

/*.page-container #menubar_top .socials .facebook */ .fb {
    background: url(images/social-media-logo-set1.png) -25px -25px;
    width: 40px;
    height: 40px;
    display: block;
}

/*.page-container #menubar_top .socials*/ .fb:hover {
    background: url(images/social-media-logo-set1.png) -55px -55px;
}

/*  SUBMENU  --->  */

.submenu {
    width: 50px;
    display: inline;
    position:static;
    float: right;
}

#menu-logo {
    width: 50px;
    display: inline;
    margin: 0px;
}

/* .dropdown-menu-title {
    display: inline;
    padding-top: 15px;
    padding-left: 50px;
    font-family: 'noto sans', sans-serif;
    text-align: left;
}
*/

#dropdown_menu {
    float: right;
    padding: 0px;
}

#dropdown_menu .submenu ul {
    display: none;
    position: fixed;
    list-style-type: none;
}

#dropdown_menu .submenu:hover ul {
    display: block;
    /* background-color: lightblue; */
} 

#dropdown_menu {
    /* background-color: lightsalmon; */
    text-align: left;
}

#dd:checked ~ .submenu {
  display:block;
}

/*  SUBMENU  <---  */

#header {
    width: 1000px;
    height: 370px;
    margin: 20px auto 50px auto;
}
/* MENU BAR <--- */
/* OPTIONS ---> */

#options {
    width: 1000px;
    height: 200px;
    margin: 50px auto 50px auto;
}

#option1,#option2,#option3 {
    display: inline-grid;
    box-shadow: 5px 5px #888888;
    
    -webkit-transform: scale(0.99);
}

#option1:hover,#option2:hover,#option3:hover {
    -webkit-transform: translate(5px);
}

#option1 {
    background-image: url(images/drum-player.jpg);
    background-size: 100%;
    border-radius: 20px;
    float: left;
    width: 300px;
    height: 200px;
    overflow: auto;
}

#option2 {
    background-image: url(images/drum_kit_1.jpg);
    background-size: 100%;
    border-radius: 20px;
    margin: 0px 50px 0px 50px;
    float:left;
    width: 300px;
    height: 200px;
    overflow: auto;
}

#option3 {
    background-image: url(images/drum_exams_img1.jpg);
    background-size: 100%;
    border-radius: 20px 20px 20px 20px;
    float: left;
    width: 300px;
    height: 200px;
    overflow: auto;
}

/* OPTIONS <--- */

/* LESSONS 1 ---> */

#heading_lessons {
    width:1000px;
    height: 20px;
    margin: 50px auto 50px auto;
    text-align: center;
}

.page-container #lessons-container {
    background-color: #E74C3C;
}

.lesson-tab-bar h4 {
    font-family: 'noto sans', sans serif;
    font-size: 1.5em;
    color: white;
    display: inline;
}

#beginners {
    display: inline-block;
    text-align: center; 
    background-color: #CB4335;
    background-color: ;
    margin: 0px 0px 0px 50px;
    padding: 0px 100px 0px 100px;
}

#advanced {
    display: inline-block;
    text-align: center; 
    background-color: #CB4335;
    margin: 0px 20px 0px 20px;
    padding: 0px 100px 0px 100px;
}

#exams {
    display: inline-block;
    text-align: center; 
    background-color: #CB4335;
    margin: 0px 0px 0px 0px;
    padding: 0px 100px 0px 100px;
}

#beginners-content-box{
    background-color: aqua;
    width: 1000px;
    height: 350px;
    margin: 0px auto 50px auto;
}


/* #lessons_content {
    background-color: palevioletred;
    width: 1000px;
    height: 500px;
    margin: 50px auto 50px auto;
}
*/

/* Lesson Tabs - Add js for full funtion ---> */

.lesson-tab-bar {
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 0px auto 0px auto;
}

/* Style the buttons that are used to open the tab content */
.lesson-tab-bar button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.lesson-tab-bar button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.lesson-tab-bar button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* LESSONS 1 <--- */

/* LESSONS 2 --> */

.beginner-wrapper {
    display: block;
    max-width: 1000px;
}

#beginner-image {
    width: 50%;
    max-width: 498px;
    min-width: 330px;
    height: 250px;
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
    position: ;
}

#advanced-image {
    width: 50%;
    max-width: 498px;
    min-width: 330px;
    height: 250px;
    display: inline-block;
    float: right;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

#exam-image {
    width: 50%;
    max-width: 498px;
    min-width: 330px;
    height: 250px;
    display: inline-block;
    float: left;
    padding: 0px;
    margin: 0px;
    border: 1px solid black;
}

#beginner-text {
    border:1px solid black;
    width: 50%;
    max-width: 498px;
    min-width: 330px;
    height: 250px;
    display: inline;
    float: right;
    padding: 0px;
    margin: 0px;
    position: ;
}

#advanced-text {
    border:1px solid black;
    width: 50%;
    max-width: 498px;
    min-width: 330px;
    height: 250px;
    display: inline;
    float: left;
    padding: 0px;
    margin: 0px;
}

#exams-text {
    border:1px solid black;
    width: 50%;
    max-width: 498px;
    min-width: 330px;
    height: 250px;
    display: inline;
    float: right;
    padding: 0px;
    margin: 0px;
}

.lessons-images {
    width: 300px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.lesson-text {
    margin: 0px auto 0px auto;

}

#beginner-text, #advanced-text, #exams-text {
    max-height: 250px;
    overflow: hidden;
}

/* <-- LESSONS 2 */

/* PRICES 1 --> */

#prices_container {
    background-image: url(images/arena-drummer.jpg);
    border-top: 0px
    width: 1000px;
    height: 400px;
    margin: 0px auto 0px auto;
    display: block;
    padding: 200px 200px 50px 200px;
}

#table_prices {
    display: inline-block;
    width: 700px;
    margin: 0px auto 0px auto;
    border-collapse: collapse;
    padding: 20px 45px 50px 45px;
    /* border: 5px solid white; */
    border-radius: 20px;
    background-color: grey;
    opacity: .8;
}

#table_prices td {
    background-color: ;
    border: 2px solid white;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background-color: black;
}
            
#table_prices .sterling {
    padding: 0px 50px 0px 50px;
}

#prices_expl {
   margin: auto;
   width: 500px;
   height: 50px;
}

/* <-- Prices */
/* Prices 2 -----> */

#prices_container_2 {
    background-image: url(images/arena-drummer.jpg);
    width: 100%;
    max-width: 1500px;
    margin: 0px auto 0px auto;
    height: 300px;
    display: block;
       overflow:hidden;
}

#prices_block_wrap {
    float: left;
    margin: 0px auto 0px auto;

}

.prices_block {
    background-color: grey;
    opacity: 0.5;
    display: inline-block;
    border-radius: 10px;
    width: 300px;
    height: 200px;
   margin: 50px 20px 50px 20px;
   border: 1px solid grey;
   box-shadow: 5px 5px #0f0f0f;
}

.prBlockHeading {
    font-family: 'noto sans', sans serif;
    font-size: 1.2em;
    color: white;
    text-align: center;
    background-color: black;
    padding: 0px 120px 20px 120px;
}

.prBlockPara {
    font-family: 'noto sans', sans serif;
    font-size: .9em;
    color: grey;
    text-align: center;
    background-color: white;
}

.pricesSterling {
    font-family: 'noto sans', sans serif;
    font-size: 1em;
    color: black;
    text-align: center;
    background-color: orange;
    padding: 0px 120px 20px 120px;
}

/* <----- Prices 2 */ 
/* Contact form container --> */
#heading_contact {
    width:1000px;
    height: 20px;
    margin: 50px auto 50px auto;
    text-align: center;
    
}

#contact_form {
    background-color: palevioletred;
    width: 500px;
    height: 300px;
    /* margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right: auto; */
    margin: 50px auto 50px auto;
}

#message {
    width: 300px;
    height: 200px;
}
/* <-- Contact form container */

#footer {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    margin: 50px auto 0px auto;
    border-top: 1px solid black;
}

/* FONT STYLES */

label {
    
}

.main-heading {
    display: inline-block;
    width: 100%;
    min-width: 600px
    max-width:1000px;
    height: 20px;
    margin: 0px auto 0px auto;
   
}

h2 {
    font-family: 'open sans', sans serif;
    font-size: 1.5em;
    color: grey;
    letter-spacing: 3px;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    padding: 5px 0px 5px 0px;
    text-align: center;
}

h3 {
    font-family: 'open sans condensed', sans-serif;
    color: red;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    background-color: white;
    opacity: .8;
    /*line-height: 50px;*/
    margin-top: 70px;
    margin-bottom: 0px;
    padding: 0px 0px 10px 0px;
}

h4 {
    font-family: 'noto sans', sans serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

p {
    font-family: 'open sans', sans-serif;
    font-weight: lighter;
    color: black;
    text-align: center;
    background-color: white;
    opacity: .8;
    margin-top: 0px;
    margin-bottom: 0px;
}

th {
    font-family: 'noto sans', sans serif;
    text-align: center;
    font-size: 1.35em;
    color: #CB4335;
    background-color: #FEF9E7;
}

.option-hrefs {
    text-align: center;
    background-color: white;
    opacity: .8;
    margin-top: 0px;
    padding: 10px 0px 5px 0px; 
}

.lesson-content-text {
    font-family: 'noto sans', sans serif;
    margin: 0px auto 0px auto;
}

.prices-text, .sterling {
    font-family: 'noto sans', sans serif;
    color: white;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
}

.footer-text {
    font-family: 'noto sans', sans-serif;
    font-size: .75em;
    float:right;
    padding-top: 5px;
}